{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <form action="/" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="city" name="city" placeholder="City" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="country" name="country" placeholder="Country Code" type="text">
        </div>
        <div class="mb-3">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
        <div class="mb-3">
            <a href="https://laendercode.net/en/2-letter-list.html" target="_blank">Don't know the country code?</a>
        </div>
    </form>
{% endblock %}
