{% extends "layout.html" %}

{% block title %}{{ city }}{% endblock %}

{% block main %}
    <div class="mb-3">
        <h3>{{ city }}, {{ country }}</h3>
    </div>
    <p>Coordinates: {{ lat }}°N {{ lon }}°E | Elevation: {{ data.elevation }}m</p>
    <p>Time: {{ data.current_weather.time | unix }} (UTC)</p>
    <p>Weather Code: {{ data.current_weather.weathercode }}</p>
    <p>Temperature: {{ data.current_weather.temperature }}°C </p>
    <p>Wind: {{ data.current_weather.windspeed }} km/h at {{ data.current_weather.winddirection }}°</p>
{% endblock %}
